# <font color = 'red'> Análise Exploratória Inicial </font>

### <font color = 'red'> Foco em entender melhor a estrutura dos dados e escolher a empresa e problema de negócio </font>

In [2]:
# Imports
import os
import numpy as np
import pandas as pd

In [3]:
# Visualizando Cj dados
dados = pd.read_csv('/Projetos Pessoais/DataScience/PLN_Text_Analysis/data/data_scraping_bruto_2hr.csv',
                       sep =',')

In [4]:
dados.head(20)

,Empresa,Relato,Avaliacao
0,Serasa Experian,"Boa tarde! Hoje, dia 02 de Dezembro de 2024, f...",Nota 5
1,Sky Airline,Bom dia. Eu e minha esposa ja fizemos algumas ...,Nota 1
2,Serasa Experian,Hoje 02/12/2024 entrei no Serasa e constava dí...,Nota 2
3,Equatorial Maranhão (CEMAR),"Minha energia foi cortada, solicito que seja r...",Nota 5
4,Serasa Experian,"CONFORME A DESCISAO DO STJ, DIVIDAS PRESCRITAS...",Nota 4
5,Cemig,Como faço pra resetar minha senha ADV?,Nota 5
6,Serasa Experian,Meu nome foi consultado pelas empresas; provu ...,Nota 1
7,Cemig,O que devo fazer se minha fiação for furtada?,Nota 5
8,Mercado Livre,Fiz a devolução de um produto na data de 23/11...,Nota 1
9,123 Milhas,Comprei um pacote de aéreo e hospedagem no mês...,Nota 1
10,Natura,Serasa não estornou e informou que foi um acor...,Nota 1
11,Hurb - Hotel Urbano,Realizei a compra de um pacote na Hurb e a emp...,Nota 1
12,Latam Airlines (Tam),Logo após a compra da passagem de reserva JACW...,Nota 5
13,RecargaPay,A empresa tem um programa de indicação onde pa...,Nota 5
14,iFood,"Pedi um prato na Buona Massa Shopping Vitória,...",Nota 4
15,Hurb - Hotel Urbano,"Eu FLAVIO CESAR VEIGA PARREIRA JUNIOR, CPF XXX...",Nota 1
16,Serasa Experian,Fiz um acordo com vencimento no dia 29/11. Até...,Nota 1
17,Hurb - Hotel Urbano,"No dia 24/06/2023, solicitei o cancelamento do...",Nota 1
18,ARAUJO,Realizei a seguinte compra pelo app: APP740210...,Nota 5
19,Latam Airlines (Tam),Durante o check in do meu voo no dia 22/11 MAO...,Nota 5

In [12]:
dados.Empresa.value_counts().reset_index().head(40)

                                      Empresa  count
0                           Vivo - Telefônica    979
1                        Latam Airlines (Tam)    815
2                                      Google    733
3                                      Nubank    641
4                                         Tim    626
5                               Claro Celular    614
6                             Banco do Brasil    541
7                             Serasa Experian    536
8                          Azul Linhas Aéreas    532
9                     Caixa Econômica Federal    465
10                          Claro Residencial    384
11                              Mercado Livre    384
12                                     Smiles    358
13                          Gol Linhas Aéreas    355
14                        Hurb - Hotel Urbano    345
15                                    Samsung    317
16                                      Cemig    312
17                            Banco Santander    310
18                               Mercado Pago    297
19                                      iFood    295
20                                       Uber    285
21                             Banco Bradesco    278
22                        Banco Itaú Unibanco    268
23                                    Oi Fixo    266
24                       Facebook / Instagram    242
25                                  Banco Pan    235
26            Banco Inter (Banco Intermedium)    217
27               Magazine Luiza - Loja Online    189
28                                 Latam Pass    174
29                              Amazon.com.br    173
30                              Shopee Brasil    163
31                                    C6 Bank    150
32                                  Tudo Azul    150
33                                   Correios    149
34                               Cartões Itaú    147
35                           Bradesco Cartões    139
36                                     Livelo    138
37                             Casasbahia.com    135
38  Enel Distribuição São Paulo (Eletropaulo)    131
39                                     PicPay    129

In [6]:
dados.shape

(21560, 3)

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21560 entries, 0 to 21559
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Empresa    21560 non-null  object
 1   Relato     21560 non-null  object
 2   Avaliacao  21560 non-null  object
dtypes: object(3)
memory usage: 505.4+ KB

In [8]:
# verificando amostra dos textos para algumas empresas
dados[dados['Empresa'] == 'Latam Airlines (Tam)']

,Empresa,Relato,Avaliacao
12,Latam Airlines (Tam),Logo após a compra da passagem de reserva JACW...,Nota 5
19,Latam Airlines (Tam),Durante o check in do meu voo no dia 22/11 MAO...,Nota 5
31,Latam Airlines (Tam),Como já tenho um chamado em aberto tive q abri...,Nota 5
49,Latam Airlines (Tam),Extorno da passagem aérea a mesma não que que ...,Nota 5
56,Latam Airlines (Tam),"Prezado, Meu voo de Brasília a São Paulo (Cong...",Nota 5
...,...,...,...
21319,Latam Airlines (Tam),"Prezados, apesar de ser cliente da categoria g...",Nota 5
21333,Latam Airlines (Tam),Venho solicitar a devolução dos valores pagos ...,Nota 3
21407,Latam Airlines (Tam),Boa tarde! Comprei recentemente uma passagem a...,Nota 5
21424,Latam Airlines (Tam),Boa tarde! Solicito a alteração da passagem ár...,Nota 5
21533,Latam Airlines (Tam),Fiz a compra de uma passagem flex com a Latam ...,Nota 1

In [9]:
# verificando amostra dos textos para algumas empresas
dados[dados['Empresa'] == 'Azul Linhas Aéreas']

,Empresa,Relato,Avaliacao
57,Azul Linhas Aéreas,Bom dia. Sou cliente Azul. E com muita dificul...,Nota 5
270,Azul Linhas Aéreas,Comprei a passagem por pontos. Estou tentando ...,Nota 5
1313,Azul Linhas Aéreas,Comprei uma passagem e logo em seguida comprei...,Nota 3
1324,Azul Linhas Aéreas,Fiz uma compra de passagem de Confins (CNF) co...,Nota 5
1326,Azul Linhas Aéreas,Boa noite! Não consegui contato com a Cia Aére...,Nota 5
...,...,...,...
21305,Azul Linhas Aéreas,FIZERAM DE NOVO!! SEGUE PROTOCOLO ANTERIOR. PR...,Nota 2
21395,Azul Linhas Aéreas,"Sou morador de Lençóis, na Bahia, e comprei pa...",Nota 4
21445,Azul Linhas Aéreas,"Conforme anexo, tive uma alteração consideráve...",Nota 5
21478,Azul Linhas Aéreas,Fiz a compra da seguinte passagem: Foz do Igua...,Nota 5
21501,Azul Linhas Aéreas,Efetuei reserva no espaço azul para mim e meus...,Nota 5

In [10]:
dados[dados['Empresa'] == 'Nubank']

      Empresa                                             Relato Avaliacao
46     Nubank  Estão adicionando valores de juros abusivos e ...    Nota 1
124    Nubank  .Entendo que pelo pagamento ter sido recente, ...    Nota 5
133    Nubank  Foi solicitado a Nubank que retirassem mas os ...    Nota 1
202    Nubank  Possuo R$ 9.511,61 em dívidas no cartão de cré...    Nota 5
259    Nubank  Bom dia !!! Estou sem condições nenhuma de pag...    Nota 1
...       ...                                                ...       ...
21226  Nubank  Fiz uma negociação com o cartão Nubank dia 07/...    Nota 5
21253  Nubank  Entro em contato através do feirão para quitaç...    Nota 1
21279  Nubank  Pedi o descritivo da minha dívida me mandaram ...    Nota 2
21302  Nubank  Minha dívida valor 592,35 e hoje está em 100.9...    Nota 1
21419  Nubank  CONFORME A DESIÇÃO DO STJ, DÍVIDAS PREESCRITAS...    Nota 1

[641 rows x 3 columns]

In [11]:
dados[dados['Empresa'] == 'iFood']

      Empresa                                             Relato Avaliacao
14      iFood  Pedi um prato na Buona Massa Shopping Vitória,...    Nota 4
42      iFood  Carrefour e Ifood se recusam a fazer estorno d...    Nota 1
53      iFood  Fiz o pedido (1828) na loja EXTRA SANTANA. Meu...    Nota 3
54      iFood  Gostaria de expressar minha total insatisfação...    Nota 5
58      iFood  Na data de 29/11/2024 as 12:22 hrs... fiz um p...    Nota 5
...       ...                                                ...       ...
20624   iFood  Cancelei o pedido total por ter sido entregue ...    Nota 1
21070   iFood  O Autor é cliente de longa data da empresa, fa...    Nota 1
21168   iFood  Estou há 10 dias sem conseguir efetuar pagamen...    Nota 1
21264   iFood  Boa tarde. Fiz uma compra de mercado na semana...    Nota 1
21504   iFood  no dia 31/10/2024, eu fiz uma compra na rede a...    Nota 1

[295 rows x 3 columns]